[submodule "submodules/mORMot2"]
	path = submodules/mORMot2
	url = https://github.com/synopse/mORMot2.git
[submodule "submodules/pltis_utils"]
	path = submodules/pltis_utils
	url = https://github.com/tranquilit/pltis_utils.git
[submodule "submodules/pltis_virtualtrees"]
	path = submodules/pltis_virtualtrees
	url = https://github.com/osvegn/pltis_virtualtrees.git
[submodule "submodules/pltis_tsmbios"]
	path = submodules/pltis_tsmbios
	url = https://github.com/tranquilit/pltis_tsmbios.git
[submodule "submodules/metadarkstyle"]
	path = submodules/metadarkstyle
	url = https://github.com/zamtmn/metadarkstyle.git
[submodule "submodules/pltis_uicomponents"]
	path = submodules/pltis_uicomponents
	url = https://github.com/tranquilit/pltis_uicomponents
