# binaries
*.lps
*.exe
*.compiled
*.o
*.ppu
*.res
*.or
*.log
*.mab
*.trc
*.ini
openrsattests

# Files
.tgitconfig
configure_lazarus.bat
graph.txt
update_language.py
update_version.py

# Folder
.idea
backup
bin
doc
lib
log